/*导航栏*/
.login_title {
    width: 100%;
    height: 50px;
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.login_title > span {
    text-align: center;
    display: block;
    line-height: 50px;
    font-size: 20px;
    font-style: normal;
}

.login_title > img {
    width: 13px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;
    margin-left: 10px;
}

/*个人信息主体部分*/
.info_content {

}

.info_content ul {
    list-style: none;
}

.info_content li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;

}

.info_content li span {

    display: block;
    width: 80px;
    font-size: 16px;
    margin-left: 20px;
    line-height: 50px;
    float: left;
}

.inputStyle {
    border: none;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    float: left;
    margin-left: 30px;

}

.radio{
    display: inline-block;
    position: relative;
    line-height: 18px;
    margin-right: 10px;
    margin-left: 8px;
    cursor: pointer;
}
.radio input{
    display: none;
}
.radio .radio-bg{
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    padding: 0;
    background-color: #f0f0f0;
    border-radius: 100%;
    vertical-align: top;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.1) inset, 1px -1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 1s ease;
}
.radio .radio-on{
    display: none;
}
.radio input:checked + span.radio-on{
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    background: #ea5504;
    top: 4px;
    left: 4px;
    /*box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(255, 255, 255, 0.4) inset;*/
    /*background-image: linear-gradient( 0, #e7e7e7 100%);*/
    transform: scale(0, 0);
    transition: all 1s ease;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);		/* IE 9 */
    -webkit-transform: scale(1, 1);	/* Safari and Chrome */
    -o-transform: scale(1, 1);		/* Opera */
    -moz-transform: scale(1, 1);
    display: inline-block;
}



.sex_women {
    margin-left: 60px;
}

.info_content li select {
    border: none;
    width: 150px;
    outline:none;
    margin-left: 28px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color:transparent;
}
option{
   border: 1px solid #dddddd;
}
.info_content li select:hover{
    background: #fff;
}

.info_content li .phone_num {
    margin-left: 30px;
}
.save_btn{
    display: block;
    width: 60%;
    height: 40px;
    background: #ea5504;
    line-height: 40px;
    text-align: center;
    margin: 30px auto;
    border-radius: 5px;
    color: white;
}